body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eaeaea;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  background: #4ba3ff;
  padding: 20px;
  border-radius: 10px;
}

.card-img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: bold;
}


.subtitle {
  display: flex;
  font-size: 14px;
}

.subtitle .line {
  width: 3px;
  height: 18px;
  background: black;
  margin-right: 10px;
}

.swap-btn {
  margin-top: 20px;
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}
